<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Control escolar</title>
</head>
<body>
    <div data-role="page">
        <div data-role="header" style="overflow:hidden;">
            <h1>Control escolar</h1>
            <a href="#" data-icon="gear" class="ui-btn-right">Opciones</a>
            <div data-role="navbar">
                <ul>
                    <li><a href="#">Alumnos</a></li>
                    <li><a href="#">Docentes</a></li>
                    <li><a href="#">Aulas</a></li>
                </ul>
            </div>
        </div>
        <div role="content" class="ui-content">
            <form action="/api/students/insert" method="POST">
                <label for="txtStudentId">Matrícula</label>
                <input type="number" name="student_id" id="txtStudentId">
                <label for="txtStudentName">Nombre</label>
                <input type="text" name="name" id="txtStudentName">
                <label for="txtStudentLastName">Apellido</label>
                <input type="text" name="lastname" id="txtStudentLastName">
                <label for="txtStudentGrade">Grado</label>
                <input type="number" name="grade" id="txtStudentGrade">
                <label for="txtStudentGroup">Grupo</label>
                <input type="text" name="group" id="txtStudentGroup">
                <label for="txtStudentAverage">Promedio</label>
                <input type="text" name="average" id="txtStudentAverage">
                <button class="ui-btn ui- btn-inline">Guardar</button>
            </form>
            <ul data-role="listview" data-filter="true" data-filter-placeholder="Search students..." data-inset="true">
                <%students.forEach((student)=>{ %>
                    <div data-role="collapsible" data-content-theme="false">
                        <h4><%= student.name %></h4>
                        <p>Matrícula: <%= student.student_id %></p>
                        <p>Nombre: <%= student.name %></p>
                        <p>Apellido: <%= student.lastname %></p>
                        <p>Grado: <%= student.grade %></p>
                        <p>Grupo: <%= student.group %></p>
                        <p>Promedio: <%= student.average %></p>
                        <a href="/api/students/getOne/<%= student.student_id %>" class="ui-btn ui-icon-edit ui-btn-icon-bottom">Editar</a>
                        <a href="/api/students/deleteOne/<%= student.student_id %>" class="ui-btn ui-icon-delete ui-btn-icon-bottom">Borrar</a>
                    </div>
                <%}) %>
            </ul>
        </div>
        <div data-role="footer" style="overflow: hidden;">
            <h4 style="text-align: center;">Redes sociales</h4>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="user"></a></li>
                    <li><a href="#" data-icon="heart"></a></li>
                    <li><a href="#" data-icon="mail"></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>